@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:absolute;
  text-align:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 100%;
  /*background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);*/
  color:white;
}
/* .inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
} */



.form{
  position: relative;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

#formID{
    text-align: center;
    position: relative;
    overflow: hidden;
}
#title{
    font-family:'Noto Serif Display',serif;
    top:0;
    text-align: center; 
    color: rgb(58, 29, 29);
}
#File_input{
    display: none;
    cursor: pointer;
}
#label_input{
    font-size: larger;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
#label_input:hover{
    font-size: 1.5em;
}

.button {
  margin-top: 30px;
  width: 140px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

body{
    font-family: 'Poppins',sans-serif;
}

#result{
    font-size: larger;
    font-family:'Noto Serif Display',serif;
    text-align: center;
    color: #fff;
}

#result span{
  font-size: 25px;
  font-family: cursive;
  color: white;
  animation: result 1s linear infinite;
}
@keyframes result{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: rgb(153, 239, 166);
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.box-c{
  color:rgb(75, 164, 87);
}
.box-c .custom-underline::after {
  top:10%;
  height: 4px !important;
  width: 20%;
  left: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease-out all .1s;
}

.box-c:hover .custom-underline::after {
  width: 50%;
  left: 25%;
  transition: 0.5s ease all;
}
h4{
  font-family: 'Gideon Roman',sans-serif;
}



@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  /* background: #fff; */
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #1725ec;
}
.uploader label.hover {
  border: 3px solid #1825e4;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

#container{
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
  z-index: 1;
}

#canvas {
  display: flex;
  background-color: rgba(0, 0, 0, 0.178);
  z-index: 0;
}